*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    hanging-punctuation: first last;
    color-scheme: dark light;
    list-style: none;
}

body {
    min-height: 100svh;
}

button,
input,
textarea,
select {
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    min-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
}

@media (prefers-reduce-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}
